/* Styles for question containes */
.main-question-answer-container {
    display:flex;
    margin-bottom: 0.6rem;
    width: 100%;
    font-size: 1.8rem;
    border:0.1rem solid #DE770F;
    background-color: white;
}
.main-question-answer-container:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #B1886A;
    transform: translateY(-0.1rem);
    transition: transform 120ms;
}

.selection-prefix {
    padding:1.4rem 2.4rem;
    background-color: #DE770F;
    color:white;
}

.selection-text {
    padding: 1.5rem;

}