/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Young+Serif&display=swap');

/*Default styles*/
:root {
    background-color: #DFE0DF;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}

/*General styles*/
h1 {
    font-size: 3.4rem;
    text-align: center;
    font-weight: 300;
    padding-top: 4rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 200;
    text-align: center;
    padding-top: 4rem;
}

h3,p {
    font-size: 2rem;
    font-weight: 100;
    padding: 1rem 0.5rem;
}
a {
    text-decoration: none;
}

/* Homepage container */
.flex-container-top {
    display: flex;
    flex-direction: row;
}

.flex-container-mid {
    display: flex;
    flex-direction: column;
    height: 0 0 0 auto;
    background-color: #FFF7EF;
}

.flex-container-bottom {
    display: flex;
    flex-direction: row;
}
#top-bottom-middle>a {
    margin-bottom: 2rem;
    ;
}

#top-bottom-middle {

    width: 30rem;
    height: 20rem;
    background-color: #DE770F;
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
    align-items: center;

}



img {
    width: 30rem;
    height: 20rem;

}

.flex-items-top {
    width: 30rem;
    flex-direction: row;
}

.flex-items-bottom {
    width: 30rem;
    flex-direction: row;
}
.container {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    text-align: center;
}

/*Button*/
.btn{
    background-color: #FFF7EF;
    color: #B1886A;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: medium;
    height: 4rem;
    margin-top: 5rem;
}



.btn:hover {
    background-color: #B1886A;
    color:#FFF7EF;
    box-shadow: 0 0.4rem 1.4rem 0 #B1886A;
    transform: translateY(-0.1rem);
    transition:transform 150ms;
    height: 110%m;
}

@media screen and (max-width: 767px) {

    #logo-image {
        max-width: 90%;
        height: auto;
        padding: 10px;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    .flex-items-top {
            display: flex;
            flex-direction: column;
            
        }
    
        .flex-items-mid {
            display: flex;
            
            
            
        }
    
        .flex-items-bottom {
            display: flex;
            flex-direction: column;
            
        }

    
        
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #cover-text-items li {
        position: relative;
        display: inline-block;
        padding: 7px;
    }
}

@media screen and (min-width: 370px){
    .flex-items-top {
            display: flex;
            flex-direction: column;
        }
    
        .flex-items-mid {
            display: flex;
    
        }
    
        .flex-items-bottom {
            display: flex;
            flex-direction: column;
        }
}